

.searchbar {
    width: 100%;
}

.sitename {
    /* vertical-align: top; */
    padding: 30px;
    float:left;
}
.top {
    margin-top:20px;
    
}
.checkboxes {
    display: flex;
    flex-direction: column;
    float: right;
    width: 13%;
    align-items: right;
    justify-content: center;
    text-align: left;
    margin: 30px;
    font-size: x-large;
    border: 2px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    width: 180px;
}

.dorms {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    align-items: left;
    justify-content: left;
    /* height: 50%; */

}

.dormButton {
    float: left;
    width:100%;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: left;
  }
  
  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 0 1 auto;
    margin: 30px;
    margin-right: 60px;
    width:100%;
  }

  .dormLabels {
      width: 100%;
  }

  .search {
      padding-right: 325px;
  }

  .auth {
      border: 2px;
      /* border-color: rgb(0,120,205);
      border-style: solid;
      border-radius: 5px; */
      padding: 30px;
      margin:50px;
      font-size: large;
      color: rgb(0,120,205);
      font-weight: bold;
      margin-bottom: 100px;
  }

  .text {
      font-size: 20px;
  }

  .generalinfo {
      display: inline;
      float:right;
      min-height: 300px;
      min-width: 1170px;
      margin-bottom:50px
  }

  .roominfo {
      display: inline;
      float:left;
      min-height: 500px;
      min-width: 300px;
  }

  .dormpage {
      width: 90%;
  }

  .reviews {
    clear:both;
  }

  .review {
    float:left;
  }

  .generaltitle {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color:gray;
  }


  .image {
      max-height:300px;
      max-width:300px;
  }
  
  .imagediv {
    height:300px;
    width:300px;
    float:left;
    margin-left:20px;
  }

  .reviewsummary {
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    min-height: 100px;
    float:right;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius:10px;
    margin-bottom:100px;
  }

  .summarycategory {
     margin:30px;
     padding-bottom:10px;
  }

  .summarynumber {
      font-weight: bold;
      font-size: 40pt;
      padding-top:25px;
  }

  .dormtitle {
      margin-bottom:100px;
      text-align: left;
      width:100%;
      float:right;
      font-size:100pt;
      font-weight:normal;
  }

  .reviewlist {
      overflow: scroll;
      height: 650px;
      width: 1200px;
      float:right;
  }

  .space {
      float:left;
      margin-left: 500px;
  }

  .signout {
      margin-bottom: 100px;
  }